#Settings
#Tue Aug 30 18:27:53 BST 2016
textAlign=0
fontLocation=extrafonts\\verdana.ttf
showLocation=true
language=en-US
pdfversion=/1.7
prefix=aCCinatura
signatureWidth=403
showReason=true
keystore=C\:\\Users\\ldiog\\Desktop\\aCCinaPDF_cacerts
fontBold=false
fontColor=0
renderQuality=2
fontItalic=true
showName=true
showDate=true
signatureHeight=34
